body {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
}

#coockie-container {
    flex: 1;
    background-color: rgb(210, 62, 29);
}

#cart-container {
    flex: 1;
    background-color: rgb(29, 186, 210);
}

#shop-container {
    flex: 1;
    background-color: rgb(210, 198, 29);
}